# This is a basic workflow to help you get started with Actions
name: Build PDF

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: 
  push:
    paths:
    - shizun_ge_resume.tex
  workflow_dispatch:
        
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Set up Git repository
        uses: actions/checkout@v4
      - name: Build PDF
        # You may pin to the exact commit or the version.
        # uses: xu-cheng/latex-action@dacf2cfbdd5fd768c2298cbdc9e105bd9ed7f293
        uses: xu-cheng/latex-action@v4
        with:
          # The root LaTeX file to be compiled
          root_file: shizun_ge_resume.tex
          # The working directory for the LaTeX engine
          # working_directory:
          # The LaTeX engine to be invoked
          # compiler: # optional, default is latexmk
          # Extra arguments to be passed to the LaTeX engine
          # args: # optional, default is -pdf -file-line-error -halt-on-error -interaction=nonstopmode
          # [Deprecated] Install extra packages by tlmgr
          # extra_packages: # optional
          # Install extra packages by apk
          # extra_system_packages: texmf-dist-fontsextra # optional
          # Arbitrary bash codes to be executed before compiling LaTeX documents
          # pre_compile: # optional
          # Arbitrary bash codes to be executed after compiling LaTeX documents
          # post_compile: # optional
          # Instruct latexmk to enable --shell-escape
          # latexmk_shell_escape: # optional
          # Instruct latexmk to use LuaLaTeX
          # latexmk_use_lualatex: # optional
          # Instruct latexmk to use XeLaTeX
          latexmk_use_xelatex: true # optional
      - name: PDF to PNG
        uses: jy95/ghostscript-action@v1
        with:
          file: shizun_ge_resume.pdf
          output: shizun_ge_resume.png
          arbitrary-parameters: '-sDEVICE=png16m -dTextAlphaBits=4 -r300'
      - name: Upload files
        uses: actions/upload-artifact@v6
        with:
          name: shizun_ge_resume
          path: |
            shizun_ge_resume.pdf
            shizun_ge_resume.png